.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
  background-image: url(https://cdn1.epicgames.com/ue/product/Screenshot/1-1920x1080-b5d831b9a4ce0963d6a63af8fafe85d2.jpg?resize=1&w=1600);
  height: 100vh;
}

.App__Form {
  width: 50%;
  background: linear-gradient(rgba(3, 21, 83, 0.856), transparent);
  background-color: #1a0529;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
  height: 10vh;
}

.FormTitle {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 50px;
  margin-left: 20px;
}

.FormTitle_Link {
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #199087;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
  margin-left: 0px;
}

/* //////////////////////////////////////////////// */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */